{% extends 'base.html' %}


{% block title %}
    Invoice Lists
{% endblock %}


{% block content %}


    <h2 class="alert alert-warning text-center">INVOICE GENERATE</h2>
    <div class="container">
        <a href="{% url 'invoice:invoice' %}">
            <button class="btn btn-outline-dark btn-sm">Home</button>
        </a>

        <div class="text-end">
            <a href="{% url 'invoice:invoice_excel' %}">
                <button class="btn btn-info btn-sm">Export Excel</button>
            </a>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>INVOICE #</th>
                <th>STATUS</th>
                <th>DUE</th>
                <th>DATE</th>

            </tr>
            </thead>
            <tbody>
            {% for invoice in invoice_list %}

                <tr>

                    <th scope="row">{{ invoice.invoice_no }}</th>
                    <th scope="row"><span class="btn btn-warning btn-sm">{{ invoice.status }}</span></th>
                    <th scope="row">{{ invoice.due }}</th>
                    <th scope="row">{{ invoice.created_on }}</th>
                    <th scope="row"><a href="{% url 'invoice:invoice_pdf' invoice.pk %}">
                        <button class="btn btn-outline-primary btn-sm">Print Invoice</button>
                    </a></th>


                </tr>
            {% endfor %}


            </tbody>


        </table>
    </div>

{% endblock %}
