<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice Create</title>
</head>
<body>

<form action="" method="POST">
    {% csrf_token %}

    <div><br>
        <p>
        <h3>Invoice Details</h3>
        </p>

        <div>
            <p>Invoice Id: {{ form.invoice_no }}</p>
        </div>

        <div>
            <p>Name: {{ form.name }}</p>
        </div>

        <div>
            <p>Email: {{ form.email }}</p>
        </div>

        <div>
            <p>Phone: {{ form.invoice_no }}</p>
        </div>

        <div>
            <p>Price: {{ form.price }}</p>
        </div>


        <div>
            <p>Paid: {{ form.paid }}</p>
        </div>


        <div>
            <p>Unpaid: {{ form.unpaid }}</p>
        </div>


        <div>
            <p>Due: {{ form.due }}</p>
        </div>

        <div><br>
            <button type="submit">Submit</button>
        </div>


    </div>
</form>

</body>
</html>